@import '../../styles/vars';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: $button-background;
  border-radius: 10px;
  
  transition: 0.2s ease;

  &:hover {
    background-color: rgba(100, 107, 170, 0.01);
  }

  &__img {
    height: 30px;
  }
}
