$button-background: #1313134f;
$white-color: #FFF;
$days-of-current-month: #ffef08f8;
$almost-white: rgb(238, 237, 230);
$event-bg: rgb(116, 58, 155);
$event-border: #1095c1;
$red: #f80101;
$cell-border: rgba(0, 0, 0, 0.281);
$inactive-days: #ffef0863;
$shadow: rgba(64, 8, 82, 0.329);
$black-color: #000;
$grey: #808080;
$green: #00ff9f;
$cancel: #ff0677;
$remove: #fc454b;
$neon-color: #ecd60b;
$input: #aaa;
$scroll: #1e1f216f;

