.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 

  &__currDay {
    display: flex;
    justify-content: center;
    padding: 20px 0 5px 0;
    font-size: 20px;
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);  
  
  &__wrapper {
    min-width: 140px;
    min-height: 100px;
    color: #1e1f21;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.281);

    transition: 0.2s ease;
    
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2)
    }
  }

  &__row_in_cell {
    display: flex;
  }

  &__day_wrapper {
    height: 33px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__current_day {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
    background-color:#4b3c72;
    color: #FFF;
    border-radius: 50%
  }

  &__is_weekend {
    color: #d1c5c5;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}